In [66]:
import pandas as pd
import numpy as np

In [67]:
# pd.set_option('display.max_rows', None)
# pd.reset_option('display.max_rows')

In [68]:
df_1 = pd.read_csv('data/data_2017_2021.csv')
df_2 = pd.read_csv('data/data_2022_2023.csv')

display(df_1.sample(5), df_2.sample(5))

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
938,VAELEN,Lisa,w,BEL,25 July 2021,Olympic Games,TeamQual,"Tokyo, Japan",FX,NaN,4.7,8.066,NaN,12.766
902,THORSDOTTIR,Eythora,w,NED,SUN 25 JUL 2021,Olympic Games,AAqual,"Tokyo, Japan",VT,21.0,5.4,9.033,NaN,14.433
547,MARTINS,Filipa,w,POR,25 July 2021,Olympic Games,qual,"Tokyo, Japan",BB,69.0,5.1,6.866,0.1,11.866
106,BRASSART,Maellyse,w,BEL,25 July 2021,Olympic Games,TeamQual,"Tokyo, Japan",BB,NaN,4.9,8.133,NaN,13.033
264,FERRARI,Vanessa,w,ITA,25 July 2021,Olympic Games,TeamQual,"Tokyo, Japan",VT,NaN,5.4,8.800,NaN,14.200

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
11281,KRANITIS,Nikolaos,m,GRE,18-21 Aug 2022,2022 Senior European Championships,qual,"Munich, Germany",HB,80.0,4.1,8.133,NaN,12.233
14824,MOLLOY,Kate,w,IRL,11-16 Apr 2023,2023 Senior European Championships,qual,"Antalya, Turkey",UB,97.0,4.4,5.866,NaN,10.266
3006,BURKHART,Taylor,m,USA,28-31 July 2022,2022 U.S. Classic,AAfinal,"West Valley City, Utah",HB,6.0,5.7,7.750,NaN,13.450
2055,BENOVIC,Aurel,m,CRO,2-5 Mar 2022,2022 Doha World Cup,qual,"Doha, Qatar",VT1,5.0,5.2,9.066,NaN,14.266
10727,KISEK,Luka,m,SLO,31 Mar 2022 - 3 Apr 2022,2022 Baku World Cup,qual,"Baku, Azerbaijan",PH,39.0,4.7,6.433,NaN,11.133

In [69]:
# concat the two data sets
df = pd.concat([df_1, df_2], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25483 entries, 0 to 25482
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     25483 non-null  object
 1   FirstName    25472 non-null  object
 2   Gender       25483 non-null  object
 3   Country      25483 non-null  object
 4   Date         25483 non-null  object
 5   Competition  25483 non-null  object
 6   Round        25483 non-null  object
 7   Location     25483 non-null  object
 8   Apparatus    25483 non-null  object
 9   Rank         22279 non-null  float64
 10  D_Score      25479 non-null  float64
 11  E_Score      25479 non-null  float64
 12  Penalty      4579 non-null   float64
 13  Score        25476 non-null  float64
dtypes: float64(5), object(9)
memory usage: 2.7+ MB

## Pre-processing with EDA

#### Dimension Reduction

In [70]:
df.drop(columns = ['Location'], axis=0)

,LastName,FirstName,Gender,Country,Date,Competition,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,AAqual,BB,76.0,4.8,6.766,NaN,11.566
1,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,AAqual,FX,64.0,4.6,7.633,NaN,12.233
2,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,AAqual,UE,74.0,5.1,6.500,NaN,11.600
3,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,AAqual,VT,72.0,4.6,8.566,NaN,13.166
4,ABDUL HADI,Farah Ann,w,MAS,25 July 2021,Olympic Games,qual,BB,76.0,4.8,6.766,NaN,11.566
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25478,ÖNDER,Ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,final,FX,8.0,4.8,7.050,NaN,11.850
25479,ÖNDER,Ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,qual,FX,3.0,5.8,7.950,0.1,13.650
25480,ÖNDER,Ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,qual,HB,10.0,5.0,6.250,NaN,11.250
25481,ÖNDER,Ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,final,PB,1.0,6.3,8.050,NaN,14.350
25482,ÖNDER,Ahmet,m,TUR,1-4 Jun 2023,2023 Tel Aviv World Challenge Cup,qual,PB,8.0,6.0,7.400,NaN,13.400

#### Drop NA

In [71]:
df.isna().sum()

LastName           0
FirstName         11
Gender             0
Country            0
Date               0
Competition        0
Round              0
Location           0
Apparatus          0
Rank            3204
D_Score            4
E_Score            4
Penalty        20904
Score              7
dtype: int64

In [72]:
df[df['FirstName'].isna()]

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
419,JESUS SANT,NaN,w,FRA,25 July 2021,Olympic Games,TeamQual,"Tokyo, Japan",BB,NaN,5.3,7.933,NaN,13.233
420,JESUS SANT,NaN,w,FRA,1 Aug 2021,Olympic Games,TeamFinal,"Tokyo, Japan",BB,NaN,5.6,7.966,NaN,13.566
421,JESUS SANT,NaN,w,FRA,25 July 2021,Olympic Games,TeamQual,"Tokyo, Japan",FX,NaN,5.4,8.066,0.3,13.166
422,JESUS SANT,NaN,w,FRA,1 Aug 2021,Olympic Games,TeamFinal,"Tokyo, Japan",FX,NaN,5.6,8.100,NaN,13.700
423,JESUS SANT,NaN,w,FRA,25 July 2021,Olympic Games,TeamQual,"Tokyo, Japan",UB,NaN,6.4,8.166,NaN,14.566
424,JESUS SANT,NaN,w,FRA,1 Aug 2021,Olympic Games,TeamFinal,"Tokyo, Japan",UB,NaN,6.1,8.100,NaN,14.200
425,JESUS SANT,NaN,w,FRA,25 July 2021,Olympic Games,TeamQual,"Tokyo, Japan",VT,NaN,5.4,9.166,0.1,14.466
426,JESUS SANT,NaN,w,FRA,1 Aug 2021,Olympic Games,TeamFinal,"Tokyo, Japan",VT,NaN,5.4,9.100,NaN,14.500
1272,ABIYURAFI,NaN,m,INA,1-4 Mar 2023,2023 Doha World Cup,qual,"Doha, Qatar",HB,26.0,4.9,6.733,NaN,11.633
1273,ABIYURAFI,NaN,m,INA,1-4 Mar 2023,2023 Doha World Cup,qual,"Doha, Qatar",PB,29.0,4.8,6.200,0.3,10.700
1274,ABIYURAFI,NaN,m,INA,1-4 Mar 2023,2023 Doha World Cup,qual,"Doha, Qatar",PH,39.0,4.5,7.000,NaN,11.500

In [73]:
# drop NA
df.dropna(subset='Score', inplace=True)

#### Date

In [74]:
df.Date.unique()

array(['SUN 25 JUL 2021', '25 July 2021', '1 Aug 2021', 'THU 29 JUL 2021',
       '24-27 Feb 2022', '23-26 Feb 2023', '1-5 Aug 2023',
       '29 Oct 2022 - 6 Nov 2022', '18-21 Aug 2022',
       '30 Sep 2023 - 8 Oct 2023', '11-16 Apr 2023', '1-4 Jun 2023',
       '9-12 Mar 2023', '17-20 Mar 2022', '24-25 Sept 2022',
       '27-30 Apr 2023', '1-4 Mar 2023', '10-18 June 2023',
       '24-27 Mar 2022', '15-18 June 2022', '31 Mar 2022 - 3 Apr 2022',
       '2-5 Mar 2022', '25-28 May 2023', '29 Jul-2 Aug 2022',
       '26-28 May 2023', '24-29 Sep 2023', '11-14 Aug 2022',
       '23-26 Mar 2023', '9-12 June 2022', '21-25 Oct 2023',
       '24-28 Jun 2023', '28-31 July 2022', '7-9 Oct 2022',
       '8-11 Jun 2023', '30 Sept 2022 - 2 Oct 2022', '26-29 Mar 2022',
       '4-6 Aug 2023', '19-20 Aug 2022', '26-27 Aug 2023',
       '24-26 Feb 2023', '25-27 Feb 2022', '17-19 Mar 2023',
       '16-19 June 2022', '05-06 May 2023'], dtype=object)

In [75]:
# remove the day in 'Date' column
df['Date'].replace('SUN 25 JUL 2021', '25 Jul 2021', inplace=True)
df['Date'].replace('THU 29 JUL 2021', '29 Jul 2021', inplace=True)
df['Date'].replace('25 July 2021', '25 Jul 2021', inplace=True)
df['Date'].replace('29 JUL 2021', '29 Jul 2021', inplace=True)
df['Date'].replace('24-25 Sept 2022', '24-25 Sep 2022', inplace=True)
df['Date'].replace('28-31 July 2022', '28-31 Jul 2022', inplace=True)
df['Date'].replace('30 Sept 2022 - 2 Oct 2022', '30 Sep 2022 - 2 Oct 2022', inplace=True)

In [76]:
# date = '30 Sept 2022 - 2 Oct 2022'
# a = date.split('-')[1]
# a.strip()

In [77]:
# extracting the date portion after the '-' character in the 'Date' column

def process_date(row):
    if '-' in row['Date']:
        date_part = row['Date'].split('-')[1]
        # if there's space after '-', then remove the space
        if ' ' in date_part:
            return date_part.strip()
        else:
            return date_part
    else:
        return row['Date']

df['Date'] = df.apply(process_date, axis=1)
df.Date.unique()

array(['25 Jul 2021', '1 Aug 2021', '29 Jul 2021', '27 Feb 2022',
       '26 Feb 2023', '5 Aug 2023', '6 Nov 2022', '21 Aug 2022',
       '8 Oct 2023', '16 Apr 2023', '4 Jun 2023', '12 Mar 2023',
       '20 Mar 2022', '25 Sep 2022', '30 Apr 2023', '4 Mar 2023',
       '18 June 2023', '27 Mar 2022', '18 June 2022', '3 Apr 2022',
       '5 Mar 2022', '28 May 2023', '2 Aug 2022', '29 Sep 2023',
       '14 Aug 2022', '26 Mar 2023', '12 June 2022', '25 Oct 2023',
       '28 Jun 2023', '31 Jul 2022', '9 Oct 2022', '11 Jun 2023',
       '2 Oct 2022', '29 Mar 2022', '6 Aug 2023', '20 Aug 2022',
       '27 Aug 2023', '19 Mar 2023', '19 June 2022', '06 May 2023'],
      dtype=object)

In [78]:
# check if the date process causes any NAs.
df.Date.isna().sum()

0

In [79]:
# convert Date datatype to datetime
month_mapping = {
    'Jan': '01', 'Feb': '02', 'Mar': '03',
    'Apr': '04', 'May': '05', 'Jun': '06', 'June': '06',
    'Jul': '07', 'Aug': '08', 'Sep': '09',
    'Oct': '10', 'Nov': '11', 'Dec': '12'
}

# df['Date'] in the format 'DD Month YYYY' then convert the datatype from object to datetime 
df['Date'] = df['Date'].apply(lambda x: x.split(' ')[2] + '-' + month_mapping[x.split(' ')[1]] + '-' + x.split(' ')[0])
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d', errors='coerce')

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25476 entries, 0 to 25482
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     25476 non-null  object
 1   FirstName    25465 non-null  object
 2   Gender       25476 non-null  object
 3   Country      25476 non-null  object
 4   Date         25476 non-null  datetime64[ns]
 5   Competition  25476 non-null  object
 6   Round        25476 non-null  object
 7   Location     25476 non-null  object
 8   Apparatus    25476 non-null  object
 9   Rank         22276 non-null  float64
 10  D_Score      25476 non-null  float64
 11  E_Score      25476 non-null  float64
 12  Penalty      4578 non-null   float64
 13  Score        25476 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(8)
memory usage: 2.9+ MB

#### Name

In [81]:
# full name in lowercase

df['Name'] = df['FirstName'].fillna('') + ' ' + df['LastName'].fillna('') # some data only has LastName or FirstName
df = df[['Name'] + [col for col in df.columns if col != 'Name']]
df['Name'] = df['Name'].str.strip().str.lower() # strip(): remove any leading, and trailing whitespaces
df.head()

,Name,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,hadi abdul,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566
1,hadi abdul,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",FX,64.0,4.6,7.633,NaN,12.233
2,hadi abdul,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",UE,74.0,5.1,6.500,NaN,11.600
3,hadi abdul,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",VT,72.0,4.6,8.566,NaN,13.166
4,farah ann abdul hadi,ABDUL HADI,Farah Ann,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566

In [82]:
# Name = 'Jenn Lee'
# Name_Parts = Name.split()
# len(Name_Parts)

In [83]:
# # check rows where Name starts with a specific alphabet
# rows_starting_with_a = df[df['FullName'].str.startswith('a', na=False)]
# rows_starting_with_a

In [84]:
# find name patterns for athletes with the name with length of 5 or more.

# extract rows where length is greater than 4
name_split = df['Name'].str.split()
name_len4 = df[name_split.apply(len) > 4]

# find rows where the 'Name' column contains apostrophe
name_apo = df[df['Name'].str.contains("'")]

print(np.concatenate([name_len4['Name'].unique(), name_apo['Name'].unique()]))

['milka gehani elpitiya badalge dona' 'nadila nethviru ambul deniyage don'
 'bernardo actos andrade de souza miranda'
 'jossimar orlando calvo moreno jo' 'julia das neves botega soares'
 'melanie de jesus dos santos' 'alejandro de la cruz gato'
 'ana patricia fuentes de la cruz' 'andreza heloisa lima de lima'
 'jabiel de jesus polanco acosta' 'mélanie de jesus dos santos'
 'leonardo matheus santos de souza' "alice d'amato" "asia d'amato"
 "aberdeen o'driscol"]

In [85]:
# replace the longer names and the name with punctuation mark

name1_dict = {
    'milka gehani elpitiya badalge dona': 'milka gehani',
    'bernardo actos andrade de souza miranda': 'bernardo actos',
    'jossimar orlando calvo moreno jo': 'jossimar calvo',
    'julia das neves botega soares': 'julia soares',
    'ana patricia fuentes de la cruz': 'ana fuentes',
    'andreza heloisa lima de lima': 'andreza lima',
    'aberdeen o driscol': 'aberdeen odriscol',
    "aberdeen o'driscol":  "aberdeen odriscol",
    "asia d'amato": "asia damato",
    "alice d'amato": "alice damato"
}

df['Name'] = df['Name'].replace(name1_dict)

# check if the names in Name column have been replaced correctly
df[df['Name'].isin({v: k for k, v in name1_dict.items()})]

,Name,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
205,alice damato,D'AMATO,Alice,w,ITA,2021-07-29,Olympic Games,AAfinal,"Tokyo, Japan",BB,22.0,5.3,6.333,NaN,11.633
206,alice damato,D'AMATO,Alice,w,ITA,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",BB,48.0,5.3,7.300,NaN,12.600
207,alice damato,D'AMATO,Alice,w,ITA,2021-07-29,Olympic Games,AAfinal,"Tokyo, Japan",FX,17.0,5.0,7.966,NaN,12.966
208,alice damato,D'AMATO,Alice,w,ITA,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",FX,28.0,5.0,8.033,NaN,13.033
209,alice damato,D'AMATO,Alice,w,ITA,2021-07-29,Olympic Games,AAfinal,"Tokyo, Japan",UE,19.0,5.9,7.100,NaN,13.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21150,julia soares,SOARES,Julia,w,BRA,2023-03-19,EnBW DTB Pokal Team Challenge 2023,qual,"Stuttgart, Germany",UB,30.0,4.8,7.250,NaN,12.050
21151,julia soares,SOARES,Julia,w,BRA,2023-03-19,EnBW DTB Pokal Team Challenge 2023,qual,"Stuttgart, Germany",VT1,29.0,4.2,8.550,NaN,12.750
21152,julia soares,SOARES,Julia,w,BRA,2023-10-25,SANTIAGO 2023 XIX Pan American Games,qual,"Santiago, Chile",BB,9.0,5.4,7.366,0.1,12.666
21153,julia soares,SOARES,Julia,w,BRA,2023-10-25,SANTIAGO 2023 XIX Pan American Games,final,"Santiago, Chile",FX,4.0,5.4,8.233,NaN,13.633
21154,julia soares,SOARES,Julia,w,BRA,2023-10-25,SANTIAGO 2023 XIX Pan American Games,qual,"Santiago, Chile",FX,4.0,5.4,8.000,NaN,13.400

In [86]:
df['Name'].isna().sum()

0

In [87]:
# # preprocess punctuation marks, remove accent, and modify Asian names

# from unidecode import unidecode

# # function to rename: remove accent, 
# def rename1(full_name, country):
#     # hyphen to space
#     processed_name = full_name.replace('-', ' ')

#     # double space to one space
#     processed_name = processed_name.replace('  ', ' ')
    
#     # remove accents
#     processed_name = unidecode(processed_name)
    
#     # for CHN, KOR, SGP, remove space between first and second words
#     if country in ['CHN', 'KOR', 'SGP', 'SIN', 'HKG', 'TPE']:
#         name_parts = processed_name.split()
#         if len(name_parts) > 2:
#             processed_name = name_parts[0] + name_parts[1] + ' ' + ''.join(name_parts[2:])
    
#     processed_name = ' '.join(processed_name.split())

#     return processed_name

# df['FullName'] = df.apply(lambda row: rename1(row['Name'], row['Country']), axis=1)
# # move 'FullName' column to the first position
# df = df[['FullName'] + [col for col in df.columns if col != 'FullName']]

# df[df.Country == 'KOR']

In [88]:
# preprocess punctuation marks, remove accent, and modify Asian names

from unidecode import unidecode

def remove_accents(input_str):
    return unidecode(input_str)

def function(full_name, country):
    if country in ['CHN', 'KOR', 'SGP', 'SIN', 'HKG', 'TPE']:
        processed_name = full_name.replace('-', '')
        name_parts = processed_name.split()
        if len(name_parts) > 2:
            processed_name = name_parts[0] + name_parts[1] + ' ' + ''.join(name_parts[2:])

    else:
        processed_name = full_name.replace('-', ' ')

        # double space to one space
        processed_name = processed_name.replace('  ', ' ')
    
        # remove accents
        processed_name = remove_accents(processed_name)
    
    return processed_name

df['FullName'] = df.apply(lambda row: function(row['Name'], row['Country']), axis=1)
# move 'FullName' column to the first position
df = df[['FullName'] + [col for col in df.columns if col != 'FullName']]

# randomly check if the names in Singapore are converted correctly
df[df.Country == 'SIN']

,FullName,Name,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
1747,terrytay weian,terry tay wei an,AN,Terry Tay Wei,m,SIN,2023-06-18,2023 10th Senior Artistic Gymnastics Asian Cha...,qual,Singapore,FX,30.0,5.3,7.766,NaN,13.066
9186,mikhail haziq,mikhail haziq,HAZIQ,Mikhail,m,SIN,2022-06-18,2022 9th Senior Artistic Gymnastics Asian Cham...,qual,"Doha, Qatar",HB,43.0,3.3,7.467,NaN,10.767
9187,mikhail haziq,mikhail haziq,HAZIQ,Mikhail,m,SIN,2022-06-18,2022 9th Senior Artistic Gymnastics Asian Cham...,qual,"Doha, Qatar",PB,40.0,3.0,8.933,NaN,11.933
9188,mikhail haziq,mikhail haziq,HAZIQ,Mikhail,m,SIN,2022-06-18,2022 9th Senior Artistic Gymnastics Asian Cham...,qual,"Doha, Qatar",PH,39.0,4.6,6.167,NaN,10.767
10739,lim kaeson,lim kaeson,KAESON,Lim,m,SIN,2022-06-18,2022 9th Senior Artistic Gymnastics Asian Cham...,qual,"Doha, Qatar",HB,47.0,3.2,7.100,NaN,10.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22649,kho tongyu,kho tong-yu,TONG-YU,Kho,m,SIN,2023-06-18,2023 10th Senior Artistic Gymnastics Asian Cha...,qual,Singapore,PH,44.0,3.3,8.100,NaN,11.400
22650,kho tongyu,kho tong-yu,TONG-YU,Kho,m,SIN,2023-06-18,2023 10th Senior Artistic Gymnastics Asian Cha...,qual,Singapore,SR,54.0,3.9,5.333,0.3,8.933
24583,emma yap,emma yap,YAP,Emma,w,SIN,2023-06-18,2023 10th Senior Artistic Gymnastics Asian Cha...,qual,Singapore,BB,21.0,5.1,6.633,NaN,11.733
24584,emma yap,emma yap,YAP,Emma,w,SIN,2023-06-18,2023 10th Senior Artistic Gymnastics Asian Cha...,qual,Singapore,FX,23.0,4.6,7.333,NaN,11.933
24585,emma yap,emma yap,YAP,Emma,w,SIN,2023-06-18,2023 10th Senior Artistic Gymnastics Asian Cha...,qual,Singapore,UB,18.0,4.2,7.533,NaN,11.733

In [89]:
df[df.Country == 'HKG']

,FullName,Name,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
4572,cheuklam chan,cheuk lam chan,CHAN,Cheuk Lam,w,HKG,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",BB,132.0,4.5,5.533,NaN,10.033
4573,cheuklam chan,cheuk lam chan,CHAN,Cheuk Lam,w,HKG,2023-03-12,2023 Baku World Cup,qual,"Baku, Azerbaijan",BB,20.0,4.6,7.033,NaN,11.633
4574,cheuklam chan,cheuk lam chan,CHAN,Cheuk Lam,w,HKG,2023-03-12,2023 Baku World Cup,qual,"Baku, Azerbaijan",FX,30.0,4.0,7.300,NaN,11.300
4575,cheuklam chan,cheuk lam chan,CHAN,Cheuk Lam,w,HKG,2023-02-26,2023 Cottbus World Cup,qual,"Cottbus, Germany",BB,39.0,4.0,6.400,NaN,10.400
4576,cheuklam chan,cheuk lam chan,CHAN,Cheuk Lam,w,HKG,2023-02-26,2023 Cottbus World Cup,qual,"Cottbus, Germany",FX,25.0,3.4,7.633,NaN,11.033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24436,hiuying angelwong,hiu ying angel wong,WONG,Hiu Ying Angel,w,HKG,2023-02-26,2023 Cottbus World Cup,qual,"Cottbus, Germany",BB,9.0,4.9,7.900,NaN,12.800
24437,hiuying angelwong,hiu ying angel wong,WONG,Hiu Ying Angel,w,HKG,2023-03-04,2023 Doha World Cup,qual,"Doha, Qatar",BB,22.0,4.0,7.733,NaN,11.733
24438,hiuying angelwong,hiu ying angel wong,WONG,Hiu Ying Angel,w,HKG,2023-06-04,2023 Tel Aviv World Challenge Cup,qual,"Tel Aviv, Israel",BB,12.0,4.5,6.900,0.1,11.300
24439,hiuying angelwong,hiu ying angel wong,WONG,Hiu Ying Angel,w,HKG,2023-05-28,2023 Varna World Challenge Cup,qual,"Varna, Bulgaria",BB,19.0,5.0,6.600,0.0,11.600
24440,hiuying angelwong,hiu ying angel wong,WONG,Hiu Ying Angel,w,HKG,2023-09-29,HANGZHOU 2022 19th Asian Games,qual,"Hangzhou, China",BB,30.0,4.9,5.733,NaN,10.633

In [90]:
df[df['FullName'].str.contains('pauline', na=False)]

,FullName,Name,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
788,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,36.0,5.2,7.766,NaN,12.966
789,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",BB,NaN,5.2,7.766,NaN,12.966
790,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,qual,"Tokyo, Japan",FX,42.0,4.6,8.133,0.3,12.733
791,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",FX,NaN,4.6,8.133,NaN,12.733
792,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",UB,NaN,4.9,7.033,NaN,11.933
793,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,qual,"Tokyo, Japan",UE,66.0,4.9,7.033,NaN,11.933
794,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",VT,NaN,5.0,8.933,NaN,13.933
795,pauline schaefer betz,pauline schaefer-betz,SCHAEFER-BETZ,Pauline,w,GER,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",BB,36.0,5.2,7.766,NaN,12.966
796,pauline schaefer betz,pauline schaefer-betz,SCHAEFER-BETZ,Pauline,w,GER,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",FX,42.0,4.6,8.133,NaN,12.733
797,pauline schaefer betz,pauline schaefer-betz,SCHAEFER-BETZ,Pauline,w,GER,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",UE,66.0,4.9,7.033,NaN,11.933
798,pauline schaefer betz,pauline schaefer-betz,SCHAEFER-BETZ,Pauline,w,GER,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",VT,41.0,5.0,8.933,NaN,13.933
20168,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2022-08-14,2022 Senior European Championships,final,"Munich, Germany",BB,5.0,5.1,8.200,0.1,13.200
20169,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2022-08-14,2022 Senior European Championships,qual,"Munich, Germany",BB,8.0,5.5,7.766,0.1,13.166
20170,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2022-08-14,2022 Senior European Championships,TeamFinal,"Munich, Germany",BB,2.0,5.5,8.333,0.1,13.733
20171,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2022-08-14,2022 Senior European Championships,qual,"Munich, Germany",FX,18.0,4.6,8.166,NaN,12.766
20172,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2022-08-14,2022 Senior European Championships,TeamFinal,"Munich, Germany",FX,18.0,4.6,7.833,NaN,12.433
20173,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,AAfinal,"Antwerp, Belgium",BB,7.0,5.8,7.866,0.1,13.566
20174,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,final,"Antwerp, Belgium",BB,8.0,5.4,7.500,0.1,12.800
20175,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",BB,4.0,5.8,8.266,NaN,14.066
20176,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,AAfinal,"Antwerp, Belgium",FX,24.0,4.1,6.900,0.3,10.700
20177,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",FX,41.0,4.6,8.133,NaN,12.733
20178,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,AAfinal,"Antwerp, Belgium",UB,18.0,4.8,8.133,NaN,12.933
20179,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",UB,40.0,4.8,8.166,NaN,12.966
20180,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,AAfinal,"Antwerp, Belgium",VT,23.0,3.8,8.933,NaN,12.733
20181,pauline schaefer betz,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",VT1,90.0,4.0,8.966,NaN,12.966
20309,pauline schafer,pauline schäfer,SCHÄFER,Pauline,w,GER,2022-06-12,2022 Osijek World Challenge Cup,final,"Osijek, Croatia",BB,1.0,5.3,8.166,0.1,13.366
20310,pauline schafer,pauline schäfer,SCHÄFER,Pauline,w,GER,2022-06-12,2022 Osijek World Challenge Cup,qual,"Osijek, Croatia",BB,6.0,5.2,6.966,0.1,12.066

In [91]:
# exceptions: pauline schaefer betz -> pauline schafer
df['FullName'] = df['FullName'].replace('pauline schaefer betz', 'pauline schafer')
df[df.FullName.str.contains('pauline')]

,FullName,Name,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
788,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,36.0,5.2,7.766,NaN,12.966
789,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",BB,NaN,5.2,7.766,NaN,12.966
790,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,qual,"Tokyo, Japan",FX,42.0,4.6,8.133,0.3,12.733
791,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",FX,NaN,4.6,8.133,NaN,12.733
792,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",UB,NaN,4.9,7.033,NaN,11.933
793,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,qual,"Tokyo, Japan",UE,66.0,4.9,7.033,NaN,11.933
794,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",VT,NaN,5.0,8.933,NaN,13.933
795,pauline schafer,pauline schaefer-betz,SCHAEFER-BETZ,Pauline,w,GER,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",BB,36.0,5.2,7.766,NaN,12.966
796,pauline schafer,pauline schaefer-betz,SCHAEFER-BETZ,Pauline,w,GER,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",FX,42.0,4.6,8.133,NaN,12.733
797,pauline schafer,pauline schaefer-betz,SCHAEFER-BETZ,Pauline,w,GER,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",UE,66.0,4.9,7.033,NaN,11.933
798,pauline schafer,pauline schaefer-betz,SCHAEFER-BETZ,Pauline,w,GER,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",VT,41.0,5.0,8.933,NaN,13.933
20168,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2022-08-14,2022 Senior European Championships,final,"Munich, Germany",BB,5.0,5.1,8.200,0.1,13.200
20169,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2022-08-14,2022 Senior European Championships,qual,"Munich, Germany",BB,8.0,5.5,7.766,0.1,13.166
20170,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2022-08-14,2022 Senior European Championships,TeamFinal,"Munich, Germany",BB,2.0,5.5,8.333,0.1,13.733
20171,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2022-08-14,2022 Senior European Championships,qual,"Munich, Germany",FX,18.0,4.6,8.166,NaN,12.766
20172,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2022-08-14,2022 Senior European Championships,TeamFinal,"Munich, Germany",FX,18.0,4.6,7.833,NaN,12.433
20173,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,AAfinal,"Antwerp, Belgium",BB,7.0,5.8,7.866,0.1,13.566
20174,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,final,"Antwerp, Belgium",BB,8.0,5.4,7.500,0.1,12.800
20175,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",BB,4.0,5.8,8.266,NaN,14.066
20176,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,AAfinal,"Antwerp, Belgium",FX,24.0,4.1,6.900,0.3,10.700
20177,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",FX,41.0,4.6,8.133,NaN,12.733
20178,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,AAfinal,"Antwerp, Belgium",UB,18.0,4.8,8.133,NaN,12.933
20179,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",UB,40.0,4.8,8.166,NaN,12.966
20180,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,AAfinal,"Antwerp, Belgium",VT,23.0,3.8,8.933,NaN,12.733
20181,pauline schafer,pauline schaefer betz,SCHAEFER BETZ,Pauline,w,GER,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",VT1,90.0,4.0,8.966,NaN,12.966
20309,pauline schafer,pauline schäfer,SCHÄFER,Pauline,w,GER,2022-06-12,2022 Osijek World Challenge Cup,final,"Osijek, Croatia",BB,1.0,5.3,8.166,0.1,13.366
20310,pauline schafer,pauline schäfer,SCHÄFER,Pauline,w,GER,2022-06-12,2022 Osijek World Challenge Cup,qual,"Osijek, Croatia",BB,6.0,5.2,6.966,0.1,12.066

In [92]:
# choose the short name for the gymnasts with different names

def rename2(full_name):
    # split the full name into parts
    name_parts = full_name.split()

    # condition 1: If the name has 3 words, drop the middle word
    if len(name_parts) == 3:
        processed_name = f"{name_parts[0]} {name_parts[2]}"

    # condition 2: If the name has 4 words, keep the 1st and 3rd words
    elif len(name_parts) == 4:
        processed_name = f"{name_parts[0]} {name_parts[2]}"
    else:
        processed_name = full_name

    return processed_name

df['FinalName'] = df['FullName'].apply(rename2)

# move 'FullName' column to the first position
df = df[['FinalName'] + [col for col in df.columns if col != 'FinalName']]
df.head()

,FinalName,FullName,Name,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,hadi abdul,hadi abdul,hadi abdul,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566
1,hadi abdul,hadi abdul,hadi abdul,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",FX,64.0,4.6,7.633,NaN,12.233
2,hadi abdul,hadi abdul,hadi abdul,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",UE,74.0,5.1,6.500,NaN,11.600
3,hadi abdul,hadi abdul,hadi abdul,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",VT,72.0,4.6,8.566,NaN,13.166
4,farah abdul,farah ann abdul hadi,farah ann abdul hadi,ABDUL HADI,Farah Ann,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566

In [93]:
df[df['Name'].str.contains(" yun")]

,FinalName,FullName,Name,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
4717,yuetyung cheong,yuetyung cheong,yuet yung cheong,CHEONG,Yuet Yung,w,SGP,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,34.0,2.8,6.700,NaN,9.500
25001,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-08-05,2023 FISU World University Games,qual,"Chengdu, China",BB,31.0,4.4,6.066,NaN,10.466
25002,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-08-05,2023 FISU World University Games,AAfinal,"Chengdu, China",BB,17.0,4.4,6.500,NaN,10.900
25003,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-08-05,2023 FISU World University Games,qual,"Chengdu, China",FX,20.0,4.3,7.400,NaN,11.700
25004,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-08-05,2023 FISU World University Games,AAfinal,"Chengdu, China",FX,15.0,4.4,7.200,NaN,11.600
25005,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-08-05,2023 FISU World University Games,qual,"Chengdu, China",UB,14.0,4.3,8.000,NaN,12.300
25006,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-08-05,2023 FISU World University Games,AAfinal,"Chengdu, China",UB,12.0,4.3,7.533,NaN,11.833
25007,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-08-05,2023 FISU World University Games,AAfinal,"Chengdu, China",VT,12.0,4.2,8.633,NaN,12.833
25008,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-08-05,2023 FISU World University Games,qual,"Chengdu, China",VT1,12.0,4.2,8.833,NaN,13.033
25009,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,qual,"Hangzhou, China",BB,31.0,4.6,5.966,NaN,10.566
25010,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,qual,"Hangzhou, China",FX,31.0,4.6,6.433,0.1,10.933
25011,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,final,"Hangzhou, China",UB,6.0,4.4,7.766,NaN,12.166
25012,boeun yun,boeun yun,boeun yun,YUN,Boeun,w,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,qual,"Hangzhou, China",UB,12.0,4.4,7.666,NaN,12.066
25013,jinseong yun,jinseong yun,jin-seong yun,YUN,Jin-seong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,qual,"Hangzhou, China",HB,9.0,5.2,8.100,NaN,13.300
25014,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2022-06-18,2022 9th Senior Artistic Gymnastics Asian Cham...,qual,"Doha, Qatar",FX,18.0,5.3,7.967,NaN,13.267
25015,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2022-06-18,2022 9th Senior Artistic Gymnastics Asian Cham...,qual,"Doha, Qatar",HB,4.0,5.8,8.167,NaN,13.967
25016,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2022-06-18,2022 9th Senior Artistic Gymnastics Asian Cham...,final,"Doha, Qatar",HB,1.0,5.8,8.367,NaN,14.167
25017,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2022-06-18,2022 9th Senior Artistic Gymnastics Asian Cham...,qual,"Doha, Qatar",PB,15.0,5.9,7.767,NaN,13.667
25018,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2022-06-18,2022 9th Senior Artistic Gymnastics Asian Cham...,qual,"Doha, Qatar",SR,13.0,5.0,8.533,NaN,13.533
25019,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,qual,"Hangzhou, China",FX,12.0,5.2,8.333,NaN,13.533
25020,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,AAfinal,"Hangzhou, China",FX,7.0,5.2,8.300,0.4,13.100
25021,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,final,"Hangzhou, China",HB,8.0,5.2,7.066,NaN,12.266
25022,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,AAfinal,"Hangzhou, China",HB,16.0,5.0,6.733,NaN,11.733
25023,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,final,"Hangzhou, China",PB,5.0,5.8,7.533,NaN,13.333
25024,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,qual,"Hangzhou, China",PB,10.0,5.9,8.233,NaN,14.133
25025,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,AAfinal,"Hangzhou, China",PB,6.0,5.9,8.366,NaN,14.266
25026,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,qual,"Hangzhou, China",PH,16.0,4.5,8.700,NaN,13.200
25027,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,AAfinal,"Hangzhou, China",PH,15.0,4.5,6.166,NaN,10.666
25028,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,qual,"Hangzhou, China",SR,15.0,5.0,8.133,NaN,13.133
25029,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,AAfinal,"Hangzhou, China",SR,11.0,5.0,7.666,NaN,12.666
25030,jinseong yun,jinseong yun,jinseong yun,YUN,Jinseong,m,KOR,2023-09-29,HANGZHOU 2022 19th Asian Games,AAfinal,"Hangzhou, China",VT,5.0,4.8,9.100,NaN,13.900

In [94]:
df.drop(['LastName', 'FirstName', 'D_Score', 'E_Score', 'Penalty'], axis=1, inplace=True)
df

,FinalName,FullName,Name,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,Score
0,hadi abdul,hadi abdul,hadi abdul,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",BB,76.0,11.566
1,hadi abdul,hadi abdul,hadi abdul,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",FX,64.0,12.233
2,hadi abdul,hadi abdul,hadi abdul,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",UE,74.0,11.600
3,hadi abdul,hadi abdul,hadi abdul,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",VT,72.0,13.166
4,farah abdul,farah ann abdul hadi,farah ann abdul hadi,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,76.0,11.566
...,...,...,...,...,...,...,...,...,...,...,...,...
25478,ahmet onder,ahmet onder,ahmet önder,m,TUR,2023-06-04,2023 Tel Aviv World Challenge Cup,final,"Tel Aviv, Israel",FX,8.0,11.850
25479,ahmet onder,ahmet onder,ahmet önder,m,TUR,2023-06-04,2023 Tel Aviv World Challenge Cup,qual,"Tel Aviv, Israel",FX,3.0,13.650
25480,ahmet onder,ahmet onder,ahmet önder,m,TUR,2023-06-04,2023 Tel Aviv World Challenge Cup,qual,"Tel Aviv, Israel",HB,10.0,11.250
25481,ahmet onder,ahmet onder,ahmet önder,m,TUR,2023-06-04,2023 Tel Aviv World Challenge Cup,final,"Tel Aviv, Israel",PB,1.0,14.350
25482,ahmet onder,ahmet onder,ahmet önder,m,TUR,2023-06-04,2023 Tel Aviv World Challenge Cup,qual,"Tel Aviv, Israel",PB,8.0,13.400

In [95]:
# gymnasts who have longer name -> they dont have to be processed
parts = df['FinalName'].str.split()
df[parts.apply(len) > 2]['FinalName'].unique()

array(['nadila nethviru ambul deniyage don',
       'melanie de jesus dos santos', 'alejandro de la cruz gato',
       'jabiel de jesus polanco acosta',
       'leonardo matheus santos de souza'], dtype=object)

#### Country

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25476 entries, 0 to 25482
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FinalName    25476 non-null  object
 1   FullName     25476 non-null  object
 2   Name         25476 non-null  object
 3   Gender       25476 non-null  object
 4   Country      25476 non-null  object
 5   Date         25476 non-null  datetime64[ns]
 6   Competition  25476 non-null  object
 7   Round        25476 non-null  object
 8   Location     25476 non-null  object
 9   Apparatus    25476 non-null  object
 10  Rank         22276 non-null  float64
 11  Score        25476 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 2.5+ MB

In [97]:
# Check the athletes' Country
different_countries_athletes = ['alexander kunz', 'alice kinsella', 'andreas toba', 'anna lena konig', 'brinn bevan', 'cameron lynn', 'cara kennedy', 'carlo horr', 'courtney tulloch', 'dario sissakis', 'david weir', 'dominick cunningham', 'eamon montgomery', 'eilidh gorrell', 'emil barber', 'emily bremner', 'emma yap', 'georgia mae fenton', 'giarnni regini moran', 'halle hilton', 'hamish carter', 'jacob edwards', 'jake jarman', 'james hall', 'jessica schlegel', 'joe fraser', 'jorge vega lopez', 'joseph cemlyn jones', 'kaitlyn lim', 'karina schonmaier', 'kelly simm', 'lucas kochan', 'madeleine marshall', 'mali morgan', 'matthew mcclymont', 'mc ewan ateer', 'mc rhys clenaghan', 'meolie jauch', 'mia evans', 'mikhail haziq', 'milan hosseini', 'ondine achampong', 'pascal brendel', 'pavel karnejenko', 'poppy grace stickler', 'shandy poh', 'shannon archer', 'sofia micallef', 'sydney barros', 'tara donnelly', 'teja belak', 'tom schultze', 'victor martinez', 'vladislava urazova']
different_countries_rows = df[df['FinalName'].isin(different_countries_athletes)][['Country', 'Date', 'FinalName']]
different_countries_rows.sort_values(by='FinalName')

      Country       Date           FinalName
12553     GER 2023-06-04      alexander kunz
12538     GER 2023-08-05      alexander kunz
12539     GER 2023-08-05      alexander kunz
12540     GER 2023-08-05      alexander kunz
12541     GER 2023-08-05      alexander kunz
...       ...        ...                 ...
23210     RUS 2022-03-05  vladislava urazova
23209     RUS 2022-03-05  vladislava urazova
23207     RUS 2022-03-05  vladislava urazova
924       ROC 2021-07-25  vladislava urazova
23208     RUS 2022-03-05  vladislava urazova

[1170 rows x 3 columns]

In [98]:
# SIN -> SGP
df['Country'].replace('SIN', 'SGP')

# RUS -> ROC
df['Country'].replace('RUS', 'ROC')

# GE1, GE2 -> GER
df['Country'].replace(['GE1','GE2'], 'ROC')

# correct the 'Country' data for all entries where 'FinalName' is 'teja belak' to be 'SLO',
df.loc[df['FinalName'] == 'teja belak', 'Country'] = 'SLO'

df.loc[df['FinalName'] == 'victor martinez', 'Country'] = 'BEL'

In [99]:
df[df.FinalName=='emma yap']

,FinalName,FullName,Name,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,Score
24583,emma yap,emma yap,emma yap,w,SIN,2023-06-18,2023 10th Senior Artistic Gymnastics Asian Cha...,qual,Singapore,BB,21.0,11.733
24584,emma yap,emma yap,emma yap,w,SIN,2023-06-18,2023 10th Senior Artistic Gymnastics Asian Cha...,qual,Singapore,FX,23.0,11.933
24585,emma yap,emma yap,emma yap,w,SIN,2023-06-18,2023 10th Senior Artistic Gymnastics Asian Cha...,qual,Singapore,UB,18.0,11.733
24586,emma yap,emma yap,emma yap,w,SGP,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",BB,71.0,12.133
24587,emma yap,emma yap,emma yap,w,SGP,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",FX,109.0,11.833
24588,emma yap,emma yap,emma yap,w,SGP,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",UB,135.0,10.733
24589,emma yap,emma yap,emma yap,w,SGP,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",VT1,144.0,12.000
24590,emma yap,emma yap,emma yap,w,SGP,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,AAfinal,"Birmingham, England",BB,10.0,11.500
24591,emma yap,emma yap,emma yap,w,SGP,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,25.0,11.050
24592,emma yap,emma yap,emma yap,w,SGP,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,AAfinal,"Birmingham, England",FX,10.0,11.850
24593,emma yap,emma yap,emma yap,w,SGP,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",FX,19.0,12.000
24594,emma yap,emma yap,emma yap,w,SGP,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,AAfinal,"Birmingham, England",UB,16.0,10.850
24595,emma yap,emma yap,emma yap,w,SGP,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,31.0,10.250
24596,emma yap,emma yap,emma yap,w,SGP,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,AAfinal,"Birmingham, England",VT,15.0,12.050
24597,emma yap,emma yap,emma yap,m,SGP,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,AAqual,"Birmingham, England",VT1,NaN,11.250

In [100]:
a = df[df.groupby('FinalName')['Country'].transform('nunique') > 1]
a.sort_values(by='FinalName')
print(a.FinalName.unique())

['alice kinsella' 'vladislava urazova' 'ondine achampong' 'shannon archer'
 'mc ateer' 'emil barber' 'sydney barros' 'brinn bevan' 'emily bremner'
 'pascal brendel' 'hamish carter' 'joseph jones' 'mc clenaghan'
 'dominick cunningham' 'tara donnelly' 'jacob edwards' 'mia evans'
 'georgia fenton' 'joe fraser' 'eilidh gorrell' 'james hall'
 'mikhail haziq' 'halle hilton' 'carlo horr' 'milan hosseini'
 'jake jarman' 'meolie jauch' 'pavel karnejenko' 'cara kennedy'
 'lucas kochan' 'alexander kunz' 'anna konig' 'kaitlyn lim' 'jorge lopez'
 'cameron lynn' 'emma malewski' 'jea maracha' 'madeleine marshall'
 'matthew mcclymont' 'sofia micallef' 'chiara moiszi' 'eamon montgomery'
 'mali morgan' 'nadinejoy nathan' 'shandy poh' 'lea quaas' 'giarnni moran'
 'jessica schlegel' 'tom schultze' 'karina schonmaier' 'kelly simm'
 'dario sissakis' 'poppy stickler' 'andreas toba' 'courtney tulloch'
 'david weir' 'emma yap']

In [101]:
a = df[df.groupby('FinalName')['Country'].transform('nunique') > 1]
names = a.FinalName.unique()

df_table = pd.DataFrame({'Name': names})

# Group by 'FinalName' and get unique countries for each athlete
df_countries = df.groupby('FinalName')['Country'].unique().reset_index()

# Merge the DataFrames on 'FinalName'
df_table = pd.merge(df_table, df_countries, left_on='Name', right_on='FinalName', how='left')

# Drop the 'FinalName' column as it's not needed in the final table
df_table = df_table.drop(columns=['FinalName'])
df_table

                   Name     Country
0        alice kinsella  [GBR, ENG]
1    vladislava urazova  [ROC, RUS]
2      ondine achampong  [GBR, ENG]
3        shannon archer  [GBR, SCO]
4              mc ateer  [IRL, NIR]
5           emil barber  [GBR, WAL]
6         sydney barros  [USA, PUR]
7           brinn bevan  [GBR, WAL]
8         emily bremner  [GBR, SCO]
9        pascal brendel  [GER, GE1]
10        hamish carter  [GBR, SCO]
11         joseph jones  [GBR, WAL]
12         mc clenaghan  [IRL, NIR]
13  dominick cunningham  [IRL, GBR]
14        tara donnelly  [GBR, IOM]
15        jacob edwards  [WAL, GBR]
16            mia evans  [GBR, WAL]
17       georgia fenton  [GBR, ENG]
18           joe fraser  [GBR, ENG]
19       eilidh gorrell  [GBR, SCO]
20           james hall  [GBR, ENG]
21        mikhail haziq  [SIN, SGP]
22         halle hilton  [IRL, GBR]
23           carlo horr  [GER, GE2]
24       milan hosseini  [GER, GE2]
25          jake jarman  [GBR, ENG]
26         meolie jauch  [GER, GE1]
27     pavel karnejenko  [GBR, SCO]
28         cara kennedy  [GBR, SCO]
29         lucas kochan  [GER, GE1]
30       alexander kunz  [GER, GE2]
31           anna konig  [GER, GE1]
32          kaitlyn lim  [SIN, SGP]
33          jorge lopez  [GUA, EAI]
34         cameron lynn  [GBR, SCO]
35        emma malewski  [GE1, GER]
36          jea maracha  [WAL, GBR]
37   madeleine marshall  [GBR, NZL]
38    matthew mcclymont  [GBR, JAM]
39       sofia micallef  [GBR, WAL]
40        chiara moiszi  [GE2, GER]
41     eamon montgomery  [IRL, NIR]
42          mali morgan  [GBR, WAL]
43     nadinejoy nathan  [SGP, SIN]
44           shandy poh  [SIN, SGP]
45            lea quaas  [GE1, GER]
46        giarnni moran  [GBR, ENG]
47     jessica schlegel  [GER, GE2]
48         tom schultze  [GER, GE2]
49    karina schonmaier  [GER, GE1]
50           kelly simm  [GBR, ENG]
51       dario sissakis  [GER, GE1]
52       poppy stickler  [GBR, WAL]
53         andreas toba  [GER, GE1]
54     courtney tulloch  [GBR, ENG]
55           david weir  [GBR, SCO]
56             emma yap  [SIN, SGP]

In [102]:
# for each competition, if an athlete played in two or more different countries in df.Country, then change all the country data for that athlete to the last-played country based on the df['Date']

# sort by 'Date' within each 'FinalName' group
df = df.sort_values(by=['FinalName', 'Date'])

# create a dictionary to store the last-played country for each athlete
last_played_country = {}

# create a list to store athletes who played in different countries
different_countries_athletes = []

# for each athlete
for name, group in df.groupby('FinalName'):
    # check if the athlete played in different countries
    if group['Country'].nunique() > 1:
        different_countries_athletes.append(name)
        
    # update 'Country' with the last-played country based on 'Date'
    last_played_country[name] = group.iloc[-1]['Country']

# update 'Country' column based on the last-played country for each athlete
df['Country'] = df['FinalName'].map(last_played_country)

df.head()

,FinalName,FullName,Name,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,Score
15040,abby meadow,abby meadow,abby meadow,w,GBR,2022-03-27,2022 British Gymnastics Championships,qual,"Liverpool, England",BB,61.0,8.80
15041,abby meadow,abby meadow,abby meadow,w,GBR,2022-03-27,2022 British Gymnastics Championships,qual,"Liverpool, England",FX,49.0,10.65
15042,abby meadow,abby meadow,abby meadow,w,GBR,2022-03-27,2022 British Gymnastics Championships,qual,"Liverpool, England",UB,63.0,4.95
15043,abby meadow,abby meadow,abby meadow,w,GBR,2022-03-27,2022 British Gymnastics Championships,qual,"Liverpool, England",VT1,52.0,11.80
1167,abdelrahman abdelhaleem,abdelrahman abdelhaleem,abdelrahman abdelhaleem,m,EGY,2022-03-20,2022 Cairo World Cup,qual,"Cairo, Egypt",HB,15.0,12.00

In [103]:
df[df.FinalName=='victor martinez']

,FinalName,FullName,Name,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,Score
14607,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,AAfinal,"Antalya, Turkey",FX,12.0,13.666
14608,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,qual,"Antalya, Turkey",FX,96.0,12.466
14609,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,AAfinal,"Antalya, Turkey",HB,17.0,13.000
14610,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,qual,"Antalya, Turkey",HB,42.0,12.866
14611,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,AAfinal,"Antalya, Turkey",PB,21.0,13.233
14612,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,qual,"Antalya, Turkey",PB,35.0,13.566
14613,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,AAfinal,"Antalya, Turkey",PH,11.0,13.033
14614,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,qual,"Antalya, Turkey",PH,50.0,12.866
14615,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,qual,"Antalya, Turkey",SR,42.0,13.300
14616,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,AAfinal,"Antalya, Turkey",SR,21.0,12.466
14617,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,AAfinal,"Antalya, Turkey",VT1,8.0,14.333
14618,victor martinez,victor martinez,victor martinez,m,BEL,2023-04-16,2023 Senior European Championships,qual,"Antalya, Turkey",VT1,10.0,14.466
14604,victor martinez,victor martinez,victor martinez,m,BEL,2023-06-11,2023 Osijek World Challenge Cup,qual,"Osijek, Croatia",FX,14.0,13.300
14605,victor martinez,victor martinez,victor martinez,m,BEL,2023-06-11,2023 Osijek World Challenge Cup,qual,"Osijek, Croatia",HB,26.0,10.350
14606,victor martinez,victor martinez,victor martinez,m,BEL,2023-06-11,2023 Osijek World Challenge Cup,qual,"Osijek, Croatia",PB,18.0,13.200
14602,victor martinez,victor martinez,victor martinez,w,BEL,2023-06-28,2023 Central American and Caribbean Games,qual,"San Salvador, El Salvador",VT1,13.0,11.600
14603,victor martinez,victor martinez,victor martinez,w,BEL,2023-06-28,2023 Central American and Caribbean Games,qual,"San Salvador, El Salvador",VT2,13.0,11.850

In [104]:
df[df.FinalName == 'sydney barros']

,FinalName,FullName,Name,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,Score
2848,sydney barros,sydney barros,sydney barros,w,PUR,2022-02-27,2022 Winter Cup,AAfinal,"Frisco, Texas",BB,6.0,13.100
2849,sydney barros,sydney barros,sydney barros,w,PUR,2022-02-27,2022 Winter Cup,AAfinal,"Frisco, Texas",FX,13.0,12.600
2850,sydney barros,sydney barros,sydney barros,w,PUR,2022-02-27,2022 Winter Cup,AAfinal,"Frisco, Texas",UB,10.0,13.000
2851,sydney barros,sydney barros,sydney barros,w,PUR,2022-02-27,2022 Winter Cup,AAfinal,"Frisco, Texas",VT,NaN,13.100
2853,sydney barros,sydney tatiana barros,sydney tatiana barros,w,PUR,2023-05-28,2023 Artistic Gymnastics Senior Pan American C...,TeamQual,"Medellin, Colombia",BB,NaN,11.967
2854,sydney barros,sydney tatiana barros,sydney tatiana barros,w,PUR,2023-05-28,2023 Artistic Gymnastics Senior Pan American C...,TeamQual,"Medellin, Colombia",FX,NaN,12.467
2855,sydney barros,sydney tatiana barros,sydney tatiana barros,w,PUR,2023-05-28,2023 Artistic Gymnastics Senior Pan American C...,TeamFinal,"Medellin, Colombia",UB,NaN,12.967
2856,sydney barros,sydney tatiana barros,sydney tatiana barros,w,PUR,2023-05-28,2023 Artistic Gymnastics Senior Pan American C...,TeamQual,"Medellin, Colombia",UB,NaN,12.900
2857,sydney barros,sydney tatiana barros,sydney tatiana barros,w,PUR,2023-05-28,2023 Artistic Gymnastics Senior Pan American C...,TeamQual,"Medellin, Colombia",VT,NaN,12.900
2852,sydney barros,sydney barros,sydney barros,w,PUR,2023-06-28,2023 Central American and Caribbean Games,qual,"San Salvador, El Salvador",FX,13.0,11.950

In [105]:
df[(df.FinalName == 'adem asil') & (df.Apparatus.astype(str).str.contains('1|2'))]

,FinalName,FullName,Name,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,Score
2211,adem asil,adem asil,adem asil,m,TUR,2022-02-27,2022 Cottbus World Cup,qual,"Cottbus, Germany",VT1,7.0,13.266
2212,adem asil,adem asil,adem asil,m,TUR,2022-02-27,2022 Cottbus World Cup,final,"Cottbus, Germany",VT1,3.0,14.666
2213,adem asil,adem asil,adem asil,m,TUR,2022-02-27,2022 Cottbus World Cup,qual,"Cottbus, Germany",VT2,7.0,15.066
2214,adem asil,adem asil,adem asil,m,TUR,2022-02-27,2022 Cottbus World Cup,final,"Cottbus, Germany",VT2,3.0,14.500
2206,adem asil,adem asil,adem asil,m,TUR,2022-04-03,2022 Baku World Cup,qual,"Baku, Azerbaijan",VT1,14.0,14.266
2207,adem asil,adem asil,adem asil,m,TUR,2022-04-03,2022 Baku World Cup,qual,"Baku, Azerbaijan",VT2,14.0,13.333
2230,adem asil,adem asil,adem asil,m,TUR,2022-06-12,2022 Osijek World Challenge Cup,final,"Osijek, Croatia",VT1,3.0,15.300
2231,adem asil,adem asil,adem asil,m,TUR,2022-06-12,2022 Osijek World Challenge Cup,qual,"Osijek, Croatia",VT1,3.0,14.900
2232,adem asil,adem asil,adem asil,m,TUR,2022-06-12,2022 Osijek World Challenge Cup,final,"Osijek, Croatia",VT2,3.0,13.666
2233,adem asil,adem asil,adem asil,m,TUR,2022-06-12,2022 Osijek World Challenge Cup,qual,"Osijek, Croatia",VT2,3.0,13.500
2252,adem asil,adem asil,adem asil,m,TUR,2022-08-21,2022 Senior European Championships,qual,"Munich, Germany",VT1,1.0,15.200
2253,adem asil,adem asil,adem asil,m,TUR,2022-08-21,2022 Senior European Championships,qual,"Munich, Germany",VT1,11.0,15.200
2254,adem asil,adem asil,adem asil,m,TUR,2022-08-21,2022 Senior European Championships,TeamFinal,"Munich, Germany",VT1,1.0,15.233
2255,adem asil,adem asil,adem asil,m,TUR,2022-08-21,2022 Senior European Championships,qual,"Munich, Germany",VT2,11.0,13.500
2236,adem asil,adem asil,adem asil,m,TUR,2022-09-25,2022 Paris World Challenge Cup,qual,"Paris, France",VT1,8.0,14.750
2237,adem asil,adem asil,adem asil,m,TUR,2022-09-25,2022 Paris World Challenge Cup,final,"Paris, France",VT1,1.0,15.000
2238,adem asil,adem asil,adem asil,m,TUR,2022-09-25,2022 Paris World Challenge Cup,qual,"Paris, France",VT2,8.0,13.750
2239,adem asil,adem asil,adem asil,m,TUR,2022-09-25,2022 Paris World Challenge Cup,final,"Paris, France",VT2,1.0,14.450
2221,adem asil,adem asil,adem asil,m,TUR,2022-10-09,2022 Mersin World Challenge Cup,final,"Mersin, Turkey",VT1,NaN,13.650
2222,adem asil,adem asil,adem asil,m,TUR,2022-10-09,2022 Mersin World Challenge Cup,qual,"Mersin, Turkey",VT1,3.0,13.600
2223,adem asil,adem asil,adem asil,m,TUR,2022-10-09,2022 Mersin World Challenge Cup,qual,"Mersin, Turkey",VT2,3.0,14.650
2199,adem asil,adem asil,adem asil,m,TUR,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",VT1,53.0,13.933
2200,adem asil,adem asil,adem asil,m,TUR,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",VT1,9.0,13.933
2201,adem asil,adem asil,adem asil,m,TUR,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",VT2,9.0,14.733
2264,adem asil,adem asil,adem asil,m,TUR,2023-02-26,2023 Cottbus World Cup,qual,"Cottbus, Germany",VT1,14.0,14.833
2265,adem asil,adem asil,adem asil,m,TUR,2023-02-26,2023 Cottbus World Cup,qual,"Cottbus, Germany",VT2,14.0,13.233
2274,adem asil,adem asil,adem asil,m,TUR,2023-03-04,2023 Doha World Cup,qual,"Doha, Qatar",VT1,15.0,14.766
2275,adem asil,adem asil,adem asil,m,TUR,2023-03-04,2023 Doha World Cup,qual,"Doha, Qatar",VT2,15.0,12.733
2310,adem asil,adem asil,adem asil,m,TUR,2023-03-19,EnBW DTB Pokal Team Challenge 2023,final,"Stuttgart, Germany",VT1,3.0,13.600
2311,adem asil,adem asil,adem asil,m,TUR,2023-03-19,EnBW DTB Pokal Team Challenge 2023,qual,"Stuttgart, Germany",VT1,3.0,15.250
2312,adem asil,adem asil,adem asil,m,TUR,2023-03-19,EnBW DTB Pokal Team Challenge 2023,final,"Stuttgart, Germany",VT2,3.0,14.133
2313,adem asil,adem asil,adem asil,m,TUR,2023-03-19,EnBW DTB Pokal Team Challenge 2023,qual,"Stuttgart, Germany",VT2,3.0,14.100
2298,adem asil,adem asil,adem asil,m,TUR,2023-04-16,2023 Senior European Championships,AAfinal,"Antalya, Turkey",VT1,3.0,15.100
2299,adem asil,adem asil,adem asil,m,TUR,2023-04-16,2023 Senior European Championships,final,"Antalya, Turkey",VT1,5.0,15.166
2300,adem asil,adem asil,adem asil,m,TUR,2023-04-16,2023 Senior European Championships,qual,"Antalya, Turkey",VT1,3.0,14.966
2301,adem asil,adem asil,adem asil,m,TUR,2023-04-16,2023 Senior European Championships,qual,"Antalya, Turkey",VT1,7.0,14.966
2302,adem asil,adem asil,adem asil,m,TUR,2023-04-16,2023 Senior European Championships,final,"Antalya, Turkey",VT2,5.0,13.533
2303,adem asil,adem asil,adem asil,m,TUR,2023-04-16,2023 Senior European Championships,qual,"Antalya, Turkey",VT2,7.0,13.900
2282,adem asil,adem asil,adem asil,m,TUR,2023-08-05,2023 FISU World University Games,final,"Chengdu, China",VT1,5.0,14.800
2283,adem asil,adem asil,adem asil,m,TUR,2023-08-05,2023 FISU World University Games,qual,"Chengdu, China",VT1,22.0,14.166
2284,adem asil,adem asil,adem asil,m,TUR,2023-08-05,2023 FISU World University Games,qual,"Chengdu, China",VT1,6.0,14.166
2285,adem asil,adem asil,adem asil,m,TUR,2023-08-05,2023 FISU World University Games,final,"Chengdu, China",VT2,5.0,13.500
2286,adem asil,adem asil,adem asil,m,TUR,2023-08-05,2023 FISU World University Games,qual,"Chengdu, China",VT2,6.0,13.966
2261,adem asil,adem asil,adem asil,m,TUR,2023-10-08,2023 52nd FIG Artistic Gymnastics World Champi...,qual,"Antwerp, Belgium",VT1,12.0,14.566

#### Apparatus

In [106]:
# For Women
# e.g. hadi abdul
# [All-around]
# VT = Vault
# UE = Uneven Bars
# BB = Balance Beam
# FX = Floor
# 팀전: 4선수 모두가 4종목 다 플레이 한후, 종목당 가장 높은 점수 3개 채택하여 합산

# For Men
# FX = floor exercise
# PH = pommel horse
# SR = still rings
# VT = vault
# PB = parallel bars
# HB = high bar
# 팀전: 4선수 모두가 6가지 종목 다 플레이 한후, 종목당 가장 높은 점수 3개 채택하여 합산

# But in paris olympic, 5 members will play in a team.

In [107]:
print(f'standards_m:', df[df.Gender == 'm']['Apparatus'].unique())
print(f'standards_w:', df[df.Gender == 'w']['Apparatus'].unique())

standards_m: ['HB' 'PH' 'FX' 'PB' 'VT1' 'VT2' 'SR' 'VT' 'hb']
standards_w: ['BB' 'FX' 'UB' 'VT1' 'UE' 'VT' 'VT2']

In [108]:
# convert hb to HB
df['Apparatus'].replace('hb', 'HB', inplace=True)

# convert UE to UB
df['Apparatus'].replace('UE', 'UB', inplace=True)

In [109]:
print(f'm_apparatus:', df[df.Gender == 'w']['Apparatus'].value_counts())
print(f'w_apparatus:', df[df.Gender == 'w']['Apparatus'].value_counts())

m_apparatus: Apparatus
BB     2540
UB     2396
FX     2372
VT1    1621
VT2     787
VT      628
Name: count, dtype: int64
w_apparatus: Apparatus
BB     2540
UB     2396
FX     2372
VT1    1621
VT2     787
VT      628
Name: count, dtype: int64

In [110]:
df['Apparatus'].value_counts().sum()
# df[df.Gender == 'w']['Apparatus'].value_counts()
# VT2 = 1643

25476

In [111]:
ub = df[(df.Gender == 'w') & (df.Apparatus == 'UE') & (df.Competition == 'Olympic Games')].sort_values(by = 'Score', ascending = False)
ub.head()

Empty DataFrame
Columns: [FinalName, FullName, Name, Gender, Country, Date, Competition, Round, Location, Apparatus, Rank, Score]
Index: []

Final Score: Determination for all divisions
1. The gymnast has the right to perform two (2) Vaults.
2. For ALL Divisions, the Vaults may be the same or different.
3. Each Vault is scored and averaged separately.
4. The better score is counted. -> highest score among vault 1 & vault 2 is counted.

In [112]:
# EDA(check for individual - 2021 olympic gold medal team = ROC)

df_rank = df.groupby(['Competition', 'Apparatus']).apply(lambda x: x.sort_values(by='Rank'))
df_rank = df_rank[(df_rank['Competition'] == 'Olympic Games') & (df_rank['Round'] == 'final')]
df_rank

                                         FinalName              FullName  \
Competition   Apparatus
Olympic Games BB        346          chenchen guan         chenchen guan
                        876            xijing tang           xijing tang
                        64            simone biles          simone biles
                        79          elsabeth black        elsabeth black
                        460             sunisa lee            sunisa lee
                        48          urara ashikawa        urara ashikawa
                        769         flavia saraiva        flavia saraiva
                        916     vladislava urazova    vladislava urazova
              FX        149             jade carey            jade carey
                        260        vanessa ferrari       vanessa ferrari
                        641           mai murakami          mai murakami
                        561     angelina melnikova    angelina melnikova
                        37          rebeca andrade        rebeca andrade
                        306       jessica gadirova      jessica gadirova
                        288      jennifer gadirova     jennifer gadirova
                        494    viktoriia listunova   viktoriia listunova
              UB        243           nina derwael          nina derwael
                        417   anastasiia iliankova  anastasiia iliankova
                        473             sunisa lee            sunisa lee
                        518               yufei lu              yufei lu
                        811        elisabeth seitz       elisabeth seitz
                        430         melanie santos  melanie jesus santos
                        256              yilin fan             yilin fan
                        569     angelina melnikova    angelina melnikova
              VT1       44          rebeca andrade        rebeca andrade
                        830        mykayla skinner       mykayla skinner
                        1020          seojeong yeo          seojeong yeo
                        615           alexa moreno          alexa moreno
                        575     angelina melnikova    angelina melnikova
                        21        liliia akhaimova      liliia akhaimova
                        687          shallon olsen         shallon olsen
                        156             jade carey            jade carey
              VT2       46          rebeca andrade        rebeca andrade
                        832        mykayla skinner       mykayla skinner
                        1022          seojeong yeo          seojeong yeo
                        617           alexa moreno          alexa moreno
                        577     angelina melnikova    angelina melnikova
                        23        liliia akhaimova      liliia akhaimova
                        689          shallon olsen         shallon olsen
                        158             jade carey            jade carey

                                              Name Gender Country       Date  \
Competition   Apparatus
Olympic Games BB        346          chenchen guan      w     CHN 2021-08-01
                        876            xijing tang      w     CHN 2021-08-01
                        64            simone biles      w     USA 2021-08-01
                        79          elsabeth black      w     CAN 2021-08-01
                        460             sunisa lee      w     USA 2021-08-01
                        48          urara ashikawa      w     JPN 2021-08-01
                        769         flavia saraiva      w     BRA 2021-08-01
                        916     vladislava urazova      w     RUS 2021-08-01
              FX        149             jade carey      w     USA 2021-08-01
                        260        vanessa ferrari      w     ITA 2021-08-01
                        641           mai murakami      w     JPN 2021-08-01
                        561     angelina melnikova      w     ROC 2021-08-01
                        37          rebeca andrade      w     BRA 2021-08-01
                        306       jessica gadirova      w     GBR 2021-08-01
                        288      jennifer gadirova      w     GBR 2021-08-01
                        494    viktoriia listunova      w     ROC 2021-08-01
              UB        243           nina derwael      w     BEL 2021-08-01
                        417   anastasiia iliankova      w     ROC 2021-08-01
                        473             sunisa lee      w     USA 2021-08-01
                        518               yufei lu      w     CHN 2021-08-01
                        811        elisabeth seitz      w     GER 2021-08-01
                        430   melanie jesus santos      w     FRA 2021-08-01
                        256              yilin fan      w     CHN 2021-08-01
                        569     angelina melnikova      w     ROC 2021-08-01
              VT1       44          rebeca andrade      w     BRA 2021-08-01
                        830        mykayla skinner      w     USA 2021-08-01
                        1020          seojeong yeo      w     KOR 2021-08-01
                        615           alexa moreno      w     MEX 2021-08-01
                        575     angelina melnikova      w     ROC 2021-08-01
                        21        liliia akhaimova      w     ROC 2021-08-01
                        687          shallon olsen      w     CAN 2021-08-01
                        156             jade carey      w     USA 2021-08-01
              VT2       46          rebeca andrade      w     BRA 2021-08-01
                        832        mykayla skinner      w     USA 2021-08-01
                        1022          seojeong yeo      w     KOR 2021-08-01
                        617           alexa moreno      w     MEX 2021-08-01
                        577     angelina melnikova      w     ROC 2021-08-01
                        23        liliia akhaimova      w     ROC 2021-08-01
                        689          shallon olsen      w     CAN 2021-08-01
                        158             jade carey      w     USA 2021-08-01

                                Competition  Round      Location Apparatus  \
Competition   Apparatus
Olympic Games BB        346   Olympic Games  final  Tokyo, Japan        BB
                        876   Olympic Games  final  Tokyo, Japan        BB
                        64    Olympic Games  final  Tokyo, Japan        BB
                        79    Olympic Games  final  Tokyo, Japan        BB
                        460   Olympic Games  final  Tokyo, Japan        BB
                        48    Olympic Games  final  Tokyo, Japan        BB
                        769   Olympic Games  final  Tokyo, Japan        BB
                        916   Olympic Games  final  Tokyo, Japan        BB
              FX        149   Olympic Games  final  Tokyo, Japan        FX
                        260   Olympic Games  final  Tokyo, Japan        FX
                        641   Olympic Games  final  Tokyo, Japan        FX
                        561   Olympic Games  final  Tokyo, Japan        FX
                        37    Olympic Games  final  Tokyo, Japan        FX
                        306   Olympic Games  final  Tokyo, Japan        FX
                        288   Olympic Games  final  Tokyo, Japan        FX
                        494   Olympic Games  final  Tokyo, Japan        FX
              UB        243   Olympic Games  final  Tokyo, Japan        UB
                        417   Olympic Games  final  Tokyo, Japan        UB
                        473   Olympic Games  final  Tokyo, Japan        UB
                        518   Olympic Games  final  Tokyo, Japan        UB
                        811   Olympic Games  final  Tokyo, Japan        UB
                        430   Olympic Games  final  Tokyo, Japan        UB
                        256   Olympic Games  final  Tokyo, Japan        UB
                        569   Olympic Games  final  Tokyo, Japan        UB
              VT1       44    Olympic Games  final  Tokyo, Japan       VT1
                        830   Olympic Games  final  Tokyo, Japan       VT1
                        1020  Olympic Games  final  Tokyo, Japan       VT1
                        615   Olympic Games  final  Tokyo, Japan       VT1
                        575   Olympic Games  final  Tokyo, Japan       VT1
                        21    Olympic Games  final  Tokyo, Japan       VT1
                        687   Olympic Games  final  Tokyo, Japan       VT1
                        156   Olympic Games  final  Tokyo, Japan       VT1
              VT2       46    Olympic Games  final  Tokyo, Japan       VT2
                        832   Olympic Games  final  Tokyo, Japan       VT2
                        1022  Olympic Games  final  Tokyo, Japan       VT2
                        617   Olympic Games  final  Tokyo, Japan       VT2
                        577   Olympic Games  final  Tokyo, Japan       VT2
                        23    Olympic Games  final  Tokyo, Japan       VT2
                        689   Olympic Games  final  Tokyo, Japan       VT2
                        158   Olympic Games  final  Tokyo, Japan       VT2

                              Rank   Score
Competition   Apparatus
Olympic Games BB        346    1.0  14.630
                        876    2.0  14.230
                        64     3.0  14.000
                        79     4.0  13.860
                        460    5.0  13.860
                        48     6.0  13.730
                        769    7.0  13.130
                        916    8.0  12.730
              FX        149    1.0  14.360
                        260    2.0  14.200
                        641    3.0  14.160
                        561    3.0  14.160
                        37     5.0  14.030
                        306    6.0  14.000
                        288    7.0  13.230
                        494    8.0  12.400
              UB        243    1.0  15.200
                        417    2.0  14.830
                        473    3.0  14.500
                        518    4.0  14.400
                        811    5.0  14.400
                        430    6.0  14.030
                        256    7.0  13.900
                        569    8.0  13.060
              VT1       44     1.0  15.166
                        830    2.0  15.033
                        1020   3.0  15.333
                        615    4.0  14.766
                        575    5.0  14.666
                        21     6.0  14.666
                        687    7.0  14.700
                        156    8.0  11.933
              VT2       46     1.0  15.000
                        832    2.0  14.800
                        1022   3.0  14.133
                        617    4.0  14.666
                        577    5.0  14.700
                        23     6.0  14.666
                        689    7.0  14.400
                        158    8.0  12.900

In [113]:
df.shape

# VT2 = 1643

(25476, 12)

In [114]:
df.head()

,FinalName,FullName,Name,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,Score
15040,abby meadow,abby meadow,abby meadow,w,GBR,2022-03-27,2022 British Gymnastics Championships,qual,"Liverpool, England",BB,61.0,8.80
15041,abby meadow,abby meadow,abby meadow,w,GBR,2022-03-27,2022 British Gymnastics Championships,qual,"Liverpool, England",FX,49.0,10.65
15042,abby meadow,abby meadow,abby meadow,w,GBR,2022-03-27,2022 British Gymnastics Championships,qual,"Liverpool, England",UB,63.0,4.95
15043,abby meadow,abby meadow,abby meadow,w,GBR,2022-03-27,2022 British Gymnastics Championships,qual,"Liverpool, England",VT1,52.0,11.80
1167,abdelrahman abdelhaleem,abdelrahman abdelhaleem,abdelrahman abdelhaleem,m,EGY,2022-03-20,2022 Cairo World Cup,qual,"Cairo, Egypt",HB,15.0,12.00

##### by Score

In [115]:
# filter rows where Apparatus is 'VT1' or 'VT2'
filter = df[df['Apparatus'].isin(['VT1', 'VT2'])]

# identify duplicate rows
duplicate = filter[filter.duplicated(subset=['Name', 'Country', 'Competition', 'Round'], keep=False)]

# # create df with the duplicate rows where Apparatus == 'VT1' or 'VT2'
# duplicates_df = filter[duplicate]

# initialize dropped_df to store the dropped rows
dropped_df = pd.DataFrame(columns=df.columns)

# iterate over each group of duplicates and drop the row with the smaller 'Score'
for _, group in duplicate.groupby(['Name', 'Country', 'Competition', 'Round']):
    index_to_drop = group['Score'].idxmin()

    # append the dropped row to dropped_df
    dropped_df = pd.concat([dropped_df, df.loc[[index_to_drop]]])

    # drop the row from the original DataFrame
    df = df.drop(index_to_drop)

# num of dropped rows
print(f"Number of dropped rows: {len(dropped_df)}")

dropped_df.info()

/var/folders/fr/zp40z4qs65s03l0d570bq97r0000gn/T/ipykernel_4472/4019981300.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dropped_df = pd.concat([dropped_df, df.loc[[index_to_drop]]])

Number of dropped rows: 1648
<class 'pandas.core.frame.DataFrame'>
Index: 1648 entries, 16456 to 12168
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FinalName    1648 non-null   object
 1   FullName     1648 non-null   object
 2   Name         1648 non-null   object
 3   Gender       1648 non-null   object
 4   Country      1648 non-null   object
 5   Date         1648 non-null   datetime64[ns]
 6   Competition  1648 non-null   object
 7   Round        1648 non-null   object
 8   Location     1648 non-null   object
 9   Apparatus    1648 non-null   object
 10  Rank         1645 non-null   float64
 11  Score        1648 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 167.4+ KB

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23828 entries, 15040 to 12171
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FinalName    23828 non-null  object
 1   FullName     23828 non-null  object
 2   Name         23828 non-null  object
 3   Gender       23828 non-null  object
 4   Country      23828 non-null  object
 5   Date         23828 non-null  datetime64[ns]
 6   Competition  23828 non-null  object
 7   Round        23828 non-null  object
 8   Location     23828 non-null  object
 9   Apparatus    23828 non-null  object
 10  Rank         20631 non-null  float64
 11  Score        23828 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 2.4+ MB

In [117]:
df.shape[0] + dropped_df.shape[0]

25476

In [118]:
23766 - 23828

-62

##### by Rank

In [119]:
# use rank -> drop Score column
df_1 = df.iloc[:, :-1]

In [120]:
df_1.Apparatus.replace(['VT1', 'VT2'], 'VT', inplace=True)

In [121]:
df_drop = df_1.drop_duplicates()

In [122]:
df_drop.shape

(23766, 11)

In [123]:
25476 - 23845

1631

In [124]:
df_drop[(df_drop.Name == 'liliia akhaimova')]

,FinalName,FullName,Name,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank
8,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",BB,59.0
9,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,59.0
10,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",BB,NaN
11,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",FX,11.0
12,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,qual,"Tokyo, Japan",FX,11.0
13,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",FX,NaN
14,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",UB,NaN
15,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",UB,49.0
16,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,qual,"Tokyo, Japan",UB,49.0
17,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",VT,10.0
18,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,TeamQual,"Tokyo, Japan",VT,NaN
20,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-07-25,Olympic Games,qual,"Tokyo, Japan",VT,7.0
19,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-08-01,Olympic Games,TeamFinal,"Tokyo, Japan",VT,NaN
23,liliia akhaimova,liliia akhaimova,liliia akhaimova,w,ROC,2021-08-01,Olympic Games,final,"Tokyo, Japan",VT,6.0

In [125]:
# df에는 있는데 df_drop에는 없는 rows
missing_rows = df[~df.isin(df_drop)].dropna()
missing_rows

,FinalName,FullName,Name,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,Score
2201,adem asil,adem asil,adem asil,m,TUR,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",VT2,9.0,14.733
11162,akseli karsikas,akseli karsikas,akseli karsikas,m,FIN,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",VT2,26.0,13.000
7263,amika every,amika every,amika every,w,ARU,2023-06-28,2023 Central American and Caribbean Games,qual,"San Salvador, El Salvador",VT2,9.0,12.900
15071,andrey medvedev,andrey medvedev,andrey medvedev,m,ISR,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",VT2,20.0,14.100
15109,andrey medvedev,andrey medvedev,andrey medvedev,m,ISR,2023-04-16,2023 Senior European Championships,qual,"Antalya, Turkey",VT2,21.0,13.500
...,...,...,...,...,...,...,...,...,...,...,...,...
22941,weisheng tseng,weisheng tseng,wei sheng tseng,m,TPE,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",VT2,24.0,14.166
17802,yamilet pena,yamilet pena,yamilet pena,w,DOM,2023-06-28,2023 Central American and Caribbean Games,qual,"San Salvador, El Salvador",VT2,3.0,13.850
23757,yohendry villaverde,yohendry villaverde,yohendry villaverde,m,CUB,2023-06-28,2023 Central American and Caribbean Games,qual,"San Salvador, El Salvador",VT2,1.0,14.500
8636,yuri guimaraes,yuri guimaraes,yuri guimaraes,m,BRA,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",VT2,10.0,14.233
8652,yuri guimaraes,yuri guimaraes,yuri guimaraes,m,BRA,2023-10-25,SANTIAGO 2023 XIX Pan American Games,qual,"Santiago, Chile",VT2,1.0,14.500

In [126]:
# drop missing_rows in df
df.drop(missing_rows.index, inplace=True)
df.shape

(23766, 12)

In [127]:
df.to_csv('data/new.csv', index=False)

In [128]:
df[df.duplicated()]

Empty DataFrame
Columns: [FinalName, FullName, Name, Gender, Country, Date, Competition, Round, Location, Apparatus, Rank, Score]
Index: []

In [129]:
df.isna().sum()

FinalName         0
FullName          0
Name              0
Gender            0
Country           0
Date              0
Competition       0
Round             0
Location          0
Apparatus         0
Rank           3197
Score             0
dtype: int64

In [130]:
df_w = df[df.Gender == 'w']
df_m = df[df.Gender == 'm']

df_w.shape, df_m.shape

((9532, 12), (14234, 12))

In [131]:
df_w.to_csv('data/women.csv', index=False)
df_m.to_csv('data/men.csv', index=False)